# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Node
node_modules/
dist/
build/
.next/
coverage/
*.tsbuildinfo

# Java/Kotlin/Gradle
.gradle/
**/build/
out/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Environment
.env
.env.*
!.env.example

# Logs
*.log
